html {
    max-width: 960px;
    font-family: sans-serif;
}

body {
    background-color: #bfbfbf;
}

.container-fluid {
    text-align: center;
}

h1, 
h2,
a:link,
a:visited {
  color: #669999; 
}

a:hover, 
a:active {
    color: #407F7F;
    text-decoration: none;
}

.jumbo {
    text-align: center;
    margin-bottom: 0;
}

.row {
    margin-top: 20px;
}

.back {
    background-color: #226666;
    /* width: 50%; */
    height: 300px;
    margin-top: 30px;
}


.quote {
    width: 90%;
    height: 200px;
    background-color: #bfbfbf;
    margin-top: 20px;
    padding-top: 5px;
}

.quote-text {
    color: #000;  
    text-align: left;
    font-size: 150%;
    margin-bottom: 20px;
}

.author {
    color: #407f7f;
    text-align: right;
    font-size: 100%;
    font-style: italic;
}

p {
    color: #bfbfbf;
}

.twitter {
    margin-top: 20px;
}


/* -------------------- */
/*         BUTTON       */
/* -------------------- */


.btn {
    padding: 15px;
    border-radius: 5px;
    background-color: #407f7f;
    border-color: #226666;
    font-size: 100%;
    cursor: pointer;
    color: #ededed;
}


.btn a {
    text-decoration: none;
    color: #ededed;
}



/* palleton color schemes */
/* greens: http://paletton.com/#uid=13i0u0kllllaFw0g0qFqFg0w0aF */ 
/* grays: http://paletton.com/#uid=1000u0k00nZ01LA00tL01i-0qcF */
