html {
    max-width: 960px;
    font-family: sans-serif;
}

body {
    background-color: #bfbfbf;
}

.container-fluid {
    text-align: center;
}

h1, 
h2,
a:link,
a:visited {
  color: #669999; 
}

a:hover, 
a:active {
    color: #407F7F;
    text-decoration: none;
}

.jumbo {
    text-align: center;
    margin-bottom: 0;
}

.row {
    margin-top: 20px;
}

.back {
    background-color: #226666;
    height: 350px;
    margin-top: 30px;
}

.quote {
    width: 90%;
    height: 250px;
    background-color: #bfbfbf;
    margin-top: 20px;
}

.quote-text {
    color: #226666;  
    text-align: left;
    font-size: 120%;
    margin-bottom: 10px;
}

.author {
    color: #407f7f;
    text-align: right;
    font-size: 100%;
    font-style: italic;
}

p {
    color: #bfbfbf;
}

.twitter {
    margin-top: 20px;
}


/* -------------------- */
/*         BUTTONS       */
/* -------------------- */


.btn {
    border-radius: 5px;
    font-size: 100%;
    cursor: pointer;
}

.new-quote-btn {
    padding: 15px;
    background-color: #407f7f;
    border-color: #226666;
    color: #ededed;
}

.twitter-btn {
    background-color: #003333;
}

.twitter-btn img {
    width: 43%;
    padding-right: 10px;
    vertical-align: middle;
}








/* palleton color schemes */
/* greens: http://paletton.com/#uid=13i0u0kllllaFw0g0qFqFg0w0aF */ 
/* grays: http://paletton.com/#uid=1000u0k00nZ01LA00tL01i-0qcF */
